.page_home {
    background-color: #15202b;
}

.home_search {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.home_boxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}