.header {
    background-color: #15202b;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Raleway', cursive;
    position: relative;
}

.head_title {
    display: block;
    padding: 20px;
    text-decoration: none;
    letter-spacing: 30px;
    color: white;
    cursor: pointer;
}